<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Face Recognition Attendance System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <a class="navbar-brand mx-auto" href="/">Face Recognition Attendance System</a>
    </nav>

    <div class="container row mx-auto mt-5">
        <div class="col">
            <a class="border-light btn btn-success"
                style="width: 400px; height: 400px; display: table-cell; vertical-align: middle;" href="/register/">
                Register New Student
            </a>
        </div>
        <div class="col">
            <a class="border-light btn btn-danger"
                style="width: 400px; height: 400px; display: table-cell; vertical-align: middle;" href="/record/">
                Take an Attendance
            </a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>